a{
    font-size: 30px;
    color:red;
}

.navigation_tab{
        background-color:purple;
        display:flex;
        flex-wrap:wrap;
        justify-content:space-evenly;
        align-items:center;
        margin-top:10px;
    }
#Pollution_text{
   font-size: 20px;
   font-family: 'Times New Roman';
}
.List_of_Pollution{
    font-size: 20px;
    font-family: 'Times New Roman';
}
